:root {
  --main-color: rgb(57, 201, 57);
  --on-hover: rgb(52, 180, 52);
  --border: 1px solid rgba(0, 0, 0, 0.322);
  --search-color: rgb(239, 243, 244);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

main {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "header header header header"
    "main main ranking classmates";
  grid-template-rows: 10%;
  grid-template-columns: 30% 35% 20% 20%;
  overflow: hidden;
}

header {
  grid-area: header;
  width: 100vw;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  gap: 750px;
  align-content: center;
  border-bottom: var(--border);
}

header ul {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
}

.exercises-section {
  grid-area: main;
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  padding-top: 50px;
  gap: 20px;
  height: 515px;
  overflow-y: scroll;
}

.ranking-section {
  grid-area: ranking;
  display: grid;
  text-align: center;
  justify-content: center;
  align-content: flex-start;
  gap: 40px;
  padding: 20px 0;
  border-left: var(--border);
}

.ranking-section ul {
  background-color: var(--search-color);
  width: 200px;
  border-radius: 7px;
  padding: 5px;
}

.ranking-section h3 {
  font-weight: 400;
  padding-bottom: 20px;
  padding-top: 5px;
}

.pupil-rank {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: left;
  gap: 5px;
  padding-bottom: 5px;
}

.ranking {
  font-size: 20px;
}

.classmates-list {
  padding-top: 24px;
  grid-area: classmates;
  border: var(--border);
  width: 200px;
  display: grid;
  gap: 10px;
  justify-content: left;
  align-content: baseline;
  height: 100%;
}

.classmates-list p {
  text-align: center;
}

.classmates-list li {
  padding-top: 5px;
  padding-left: 5px;
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  align-items: center;
  gap: 5px;
  font-size: 15px;
}

.search {
  height: 32px;
  background-color: var(--search-color);
  border: none;
  border-radius: 12px;
  text-align: center;
  outline-color: var(--main-color);
}

.search:focus {
  background-color: white;
}

button {
  background-color: var(--main-color);
  border: none;
  padding: 5px 5px;
  border-radius: 4px;
  text-align: center;
}

button:hover {
  background-color: var(--on-hover);
}

ul {
  list-style: none;
}

.question input {
  display: none;
}

.question input[type="radio"]:checked + span {
  background-color: #f7aeba;
}

.question label {
  display: grid;
  border: var(--border);
  text-align: center;
}

.question {
  border: var(--border);
  display: grid;
  width: 450px;
  height: max-content;
  gap: 10px;
  padding: 10px;
  text-align: center;
  align-content: baseline;
}

.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.classmates-list li {
  border-top: var(--border);
  width: 200px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/* log in page */
.logIn-page {
  border: var(--border);
  width: 100vw;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

.title {
  justify-self: center;
}

.logIn-page form {
  display: grid;
  align-content: center;
  width: 100%;
  border: var(--border);
  gap: 15px;
  height: fit-content;
  padding: 30px 50px;
  background-color: white;
}

.logIn-page form input {
  border: 1px solid var(--main-color);
  width: 100%;
  outline-color: var(--main-color);
  height:20px;
  border-radius: 4px;
}

.log-in_details {
  display: block;
  padding-right: 20px;
  width: 70px;
}

.logIn-question {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  justify-content: left;
  align-items: center;
}

.logIn-question input {
  display: none;
}

.logIn-question input + span {
  width: 65px;
  display: block;
  padding: 3px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  text-align: center;
}

.logIn-question input[type="radio"]:checked + span {
  background-color: var(--main-color);
  border-radius: 8px;
}
