:root {
  --main-color: rgb(57, 201, 57);
  --on-hover: rgb(52, 180, 52);
  --border: 1px solid rgba(0, 0, 0, 0.322);
  --search-color: rgb(239, 243, 244);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

main {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "header header header header"
    "main main ranking classmates";
  grid-template-rows: 10%;
  grid-template-columns: 30% 30% 25% 20%;
  overflow: hidden;
}

header {
  grid-area: header;
  width: 100vw;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  gap: 750px;
  align-items: center;
  border-bottom: var(--border);
}

header li{
  display: grid;
  align-items: center;
}

header h3{
  font-size: 28px;
}

header ul {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  align-items: center;
}

header button{
  background-color: white;
  font-size: 14px;
  border: var(--border);
}

header button:hover{
  background-color: rgb(237, 243, 236);
}

.exercises-section {
  grid-area: main;
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  padding-top: 50px;
  gap: 20px;
  height: 515px;
  overflow-y: scroll;
}

.ranking-section {
  grid-area: ranking;
  display: grid;
  justify-content: center;
  align-content: flex-start;
  gap: 40px;
  padding: 20px 0;
  border-left: var(--border);
}

.ranking-section ul {
  background-color: var(--search-color);
  width: 280px;
  border-radius: 7px;
  padding: 12px;
}

.ranking_pupil-details{
display: grid;
grid-auto-flow: column;
justify-content: left;
gap:5px;
align-items: center;
}

.score{
  color:rgb(0, 170, 0);
}

.ranking-section h3 {
  font-weight: 400;
  padding-bottom: 20px;
  padding-top: 5px;
}

.pupil-rank {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding-bottom: 5px;
}

.ranking {
  font-size: 20px;
}

.current-pupil_score{
  display: grid;
  gap: 15px;
}

.classmates-list {
  padding-top: 24px;
  grid-area: classmates;
  border: var(--border);
  width: 200px;
  display: grid;
  gap: 10px;
  justify-content: left;
  align-content: baseline;
  height: 100%;
  padding-right: 20px;
}



.classmates-list li {
  padding-top: 5px;
  padding-left: 5px;
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  border-top: var(--border);
  border-bottom: var(--border);
  width: 200px;
}


.search {
  height: 32px;
  background-color: var(--search-color);
  border: none;
  border-radius: 12px;
  outline-color: var(--main-color);
}

.search:focus {
  background-color: white;
}

button {
  background-color: var(--main-color);
  border: none;
  padding: 5px 5px;
  border-radius: 4px;
}

button:hover {
  background-color: var(--on-hover);
}

ul {
  list-style: none;
}

.question input {
  display: none;
}

.question input[type="radio"]:checked + span {
  background-color: #f7aeba;
}

.question label {
  display: grid;
  border: var(--border);

}

.question {
  border: var(--border);
  display: grid;
  width: 450px;
  height: max-content;
  gap: 10px;
  padding: 10px;
  align-content: baseline;
}

.teacher{
  border: var(--border);
  width: 450px;
  gap:10px;
  padding:10px;
  height: max-content;
  display: grid;
  grid-auto-flow: row;
}

.teacher input{
  width: 100%;
  height:20px;
outline: 1px solid #ccc; 
border: 1px solid #ccc; 
border-radius: 2px;

}

textarea{
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  resize: none;
  outline-color: var(--main-color);
}

.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/* log in page */
.logIn-page {
  border: var(--border);
  width: 100vw;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

.title {
  justify-self: center;
}

.logIn-page form {
  display: grid;
  align-content: center;
  width: 100%;
  border: var(--border);
  gap: 15px;
  height: fit-content;
  padding: 30px 50px;
  background-color: white;
}

.logIn-page form input {
  border: 1px solid var(--main-color);
  width: 100%;
  outline-color: var(--main-color);
  height:20px;
  border-radius: 4px;
}

.log-in_details {
  display: block;
  padding-right: 20px;
  width: 70px;
}

.logIn-question {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  justify-content: left;
  align-items: center;
}

.logIn-question input {
  display: none;
}

.logIn-question input + span {
  width: 65px;
  display: block;
  padding: 3px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
}

.logIn-question input[type="radio"]:checked + span {
  background-color: var(--main-color);
  border-radius: 8px;
}

a{
  color:black;
  text-decoration: none;
}

.solved-exercises{

  width: 65vw;
  display: grid;
  justify-content: center;
  align-content: flex-start;
  gap: 30px;
  overflow-y: scroll;
  height: 520px;
}

.single-exercise{
  display: grid;
  grid-auto-flow: column;
 background-color: white;
  justify-items: left;
  align-items: center;
  width: 45vw;
  border: var(--border);
  padding: 20px;
  height: 300px;
  overflow: hidden;
}

.single-exercise input{
  outline: var(--main-color);
  height: 20px;
  width: 200px;
  text-align: left;
  border: var(--border);
}

.single-exercise ul{
  display: grid;
  justify-content:left;
  align-content: flex-start;
  width: 50vw;
  height: 280px;
  overflow-y: scroll; 
  padding: 10px;
  gap: 5px;
}


.single-exercise li{
  height: 20px;
}

.pupil-comment{
  width: 170px;
  text-align: left;
}

.exercise-details{
display: grid;
height:100%;
width:45vh;
justify-items: left;
gap: 10px;
border-right: var(--border);

}

.exercise-details p{
  width: 200px;
  height: fit-content;
  text-align: left;
}

.comment{
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  gap:5px;
  align-items: center;
}

.comment img{
  width: 20px;
  height:20px;
}

.correct{
  color:rgb(52, 180, 52)
}

.wrong{
  color:rgb(155, 24, 24);
}

.answers{
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  align-items: center;
  gap: 5x;
}

.answers img{
  height:20px;
  width:20px;
 } 


